@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: local(''), url('/fonts/Inter/inter-var-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Yekan';
    src: local(''), url('/fonts/Yekan/Yekan.woff') format('woff');
}

body {
    @apply dark:bg-black dark:text-white;
    max-width: 100%;
}

.gradient-circle {
    pointer-events: none;
    z-index: 100;
    top: -30px;
    height: 40px;
    width: 100vw;
    opacity: 0.5;
    filter: blur(40px);
    background: radial-gradient(
        circle,
        rgba(248, 107, 223, 1) 0%,
        rgba(107, 107, 248, 0.8) 100%
    );
}
.gradient-circle-bottom {
    pointer-events: none;
    z-index: 100;
    bottom: -20px;
    height: 30px;
    width: 100vw;
    opacity: 0.5;
    filter: blur(40px);
    background: radial-gradient(
        circle,
        rgba(248, 107, 223, 1) 0%,
        rgba(107, 107, 248, 0.8) 100%
    );
}

.gradient-shadow:hover::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-45deg, #45caff 0%, #ff1b6b 100%);
    transform: translate3d(0px, 20px, 0) scale(0.95);
    filter: blur(20px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.gradient-shadow:hover::after {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}
